.container {
  background: #ccc;
  height: 200px;
  display: flex;
  flex-direction: row;
  /* column | row-reverse | column-reverse */ 
  
  flex-wrap: nowrap;
  /* wrap | wrap-reverse */

  flex-flow: row wrap-reverse;
  /* flex-direction + flex-wrap */

  justify-content: space-between;
  /* flex-end | center | space-between | scape-around */

  /* alinhamento vertical */
  align-items: stretch;
  /* flex-start | flex-end | center | baseline */

  /* Alinhamento vertical quando os elementos estiverem uma quebra*/ 
  align-content: stretch;
  /* flex-start | flex-end | center | space-between | space-around */


}

.item {
  background: #333;
  color: #fff;
  padding: 20px;
  margin: 5px;
  width: 30px;
}