body{
  background: #007fc7;
}

#container {
  background-color: #FFF;
  width:800px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
}

p{
  width: 200px;
}

.relative{
  border: 2px solid red;
  position: relative;
  bottom: 20px;
  left: 200px;
}

.absolute {
  border: 2px solid rebeccapurple;
  position: absolute;
  top: 0px;
  left: 250px;
}

.fidex{
  border: 2px solid black;
  position: fixed;
  top: 10px;
}